<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Idan's Restaurant</display-name>
    <description>
        The menu and online ordering system for Idan's Restaurant
    </description>

    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>com.idanch.servlets.Servlet2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/2</url-pattern>
    </servlet-mapping>
</web-app>